export API_HOST=api.syncano.test:8080
export CODEBOX_ADDR=127.0.0.1:9000
export DEV_STORAGE=s3
export TRACING_SAMPLING=0
# export DEV_STORAGE_BUCKET=storage_bucket
# export DEV_STORAGE_HOSTING_BUCKET=storage_hosting_bucket
# export DEV_S3_REGION=eu-west-1
# export DEV_S3_ACCESS_KEY_ID=ACCESSKEYID
# export DEV_S3_SECRET_ACCESS_KEY=SECRETACCESSKEY
# export DEV_STORAGE_BUCKET_URL=https://storage_bucket.s3.amazonaws.com/
# export DEV_STORAGE_HOSTING_BUCKET_URL=https://storage_hosting_bucket.s3.amazonaws.com/
