kind: HorizontalPodAutoscaler
apiVersion: autoscaling/v1
metadata:
  name: orion-server
spec:
  minReplicas: {{ SERVER_MIN }}
  maxReplicas: {{ SERVER_MAX }}
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: orion-server
  targetCPUUtilizationPercentage: 80
